/* Basic Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

header {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f3f8;
}

header h1 {
    font-size: 2.5rem;
    color: #333;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 2px solid #ddd;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px;
    background-color: #f78fb3;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #fa709a;
}

/* Categories Section Styling */
.categories {
    text-align: center;
    padding: 40px 0;
}

.categories h2 {
    font-size: 2rem;
    color: #a0a0a0;
    margin-bottom: 30px;
}

.category-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.category {
    background-color: #ffe4e9; /* Light pink background */
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05); /* Soft shadow */
    transition: transform 0.3s ease;
}

.category:hover {
    transform: translateY(-5px); /* Slight lift on hover */
}

.category img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    opacity: 0.8; /* Slight transparency */
}

.category p {
    font-size: 1rem;
    font-weight: 600;
    color: #707070;
    margin-top: 10px;
}





.featured-products, .promotions, .blog {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.featured-products h2, .promotions h2, .blog h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.product-list, .promotion-list, .blog-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product, .promotion, .blog-post {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
}

.product img, .promotion img, .blog-post img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #f78fb3;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fa709a;
}

footer {
    background-color: #f8f3f8;
    text-align: center;
    padding: 20px;
    color: #666;
}
